




@media screen and (min-width:1100px){
    .active{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
     transition: all 500ms ease-in-out;
   
}


}




@media screen and (max-width:1099px) {
  .active{
    background-color: white;
    color: black;
     transition: all 500ms ease-in-out;
  
  }
    
}