
@media screen and (min-width:1100px){
    .active{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    transition-duration: 500ms;
   
}


}




@media screen and (max-width:1099px) {
  .active{
    background-color: slategray;
    color: white;
  
  }
    
}